rsrc/schema/gazetteer_schema_translation.rnc



start = translation
translation = element translation {loc_sec+}

loc_sec = element loc_sec {id, heading, ts+}

heading = element heading {text}

id = attribute id {text}

ts = element ts {mixed { (flag | glossed)*} }

flag = element flag {text}

glossed = element glossed {target, gloss }

gloss = element gloss {type, text}

target = element target {text}

type = attribute type {"translit" | "comment" | "literal" }